---
layout: default
---

<div class="home">
  {{ content }}

  <h2>Posts</h2>

  {% for post in site.posts %}
  <article class="post">
    <h3>{{ post.title }}</h3>
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

    <div class="post-content">
      {{ post.content }}
    </div>

    {% if post.summary_cards %}
    <div class="card-container">
      {% for card in post.summary_cards %}
        <div class="card-3d">
          <div class="card-content">
            <p>{{ card }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}

    <hr>
  </article>
  {% endfor %}
</div>